
<div class="item">
  <div>Avatar URL</div>
  <div>
    <input type="url" name="avatar_url" placeholder="http://" required="required" value="{{member.avatar_url}}">
  </div>

</div>

<div class="item">
  <div>Membro</div>
  <div>
    <input type="text" name="name" placeholder="Nome do Membro" value="{{member.name}}">
  </div>

</div>

<div class="item">
  <div>Data de Nascimento</div>
  <div>
    <input type="date" name="birth" value="{{member.birth}}">
  </div>

</div>

<div class="item">
  <div>Sexo</div>
  <div>
    <span>
      <input type="radio" name="gender" value="M" {{'checked' if (member.gender != 'F')}}>
      Masculino
    </span>
    <span>
      <input type="radio" name="gender" value="F" {{'checked' if (member.gender == 'F')}}>
      Feminino
    </span>
  </div>

</div>
</div>

<button type="submit">Salvar</button>