/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 90vh;
  background-color: darkslateblue;
  color: aliceblue;
  text-align: center;
}

* {
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 0;
  max-height: 75px;
  backdrop-filter: brightness(75%);
}

header .link {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .link  a~a{
  margin-left: 30px;
}

header .chosen {
  color: aquamarine;
}

a {
  color: aliceblue;
  transition: ease-in-out 500ms;
}
 a:hover {
   font-size: larger;
   transition: ease-in-out 500ms;
 }